/* This is the global .css file for Le Collegiate. */

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial;
    font-size: 0.9em ;
    line-height: 1.3em;
}

.sidebox {
    position: absolute;
    background: #0072BB;
    width: 20%;
    height: 100%;
}

.frontface {
    border-radius: 50%;
    width: 40%;
    display: block;
    margin: 20% auto 0 auto;
}

.firstname {
    display: inline;
    color: white;
}

.lastname {
    display: inline;
    color: black;
}

.namewrapper {
    text-align: center;
}

.namealign {
    margin: 10% auto;
    display: inline-block;
}


.sidebox ul {
    list-style: none; 
}

.content {
    position: absolute;
    margin-left: 20%;
    width: 60%;
}

.contentindex {
    position: absolute;
    margin-left: 80%;
    float: left;
    width: 20%;
    min-height: 100%;
    background: black;
}

/*

Pallete

#0072BB blue
#FF4C3B red
#FFD034 yellow
#C6C8CA grey
#000000 black
#FFFFFF white

*/
